*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Gotham',sans-serif;
    color: white;
}

nav{
    background-color: rgb(10, 25, 49);
    line-height: 60px;
    width: 100%;
    overflow: hidden;
    z-index: 2;
    position: sticky;
    top: 0;
}

#logo a{
    text-transform: uppercase;
    padding-left: 60px;
    font-size: 22px;
    font-weight: bolder;
    color: rgb(255, 201, 71);
    cursor: pointer;
}

nav ul{
    display: flex;
    float: right;
    margin-right: 100px;
}

nav ul li{
    padding: 0 5px;
    margin-right: 10px;
}

nav ul li a{
    font-weight: 500;
    padding-bottom: 5px;
}

nav ul li a.active{
    color: rgb(255, 201, 71);
    border-bottom: 5px solid;
    border-color: rgb(255, 201, 71);
}

nav ul li a:hover{
    color: rgb(255, 201, 71);
}

#icon{
    display: none;
}

.container{
    /* position: relative; */
    display: flex;
    background-color: rgb(10, 25, 49);
    width: 100%;
    padding-top: 40px;
    overflow: hidden;
}


.data h1{
    padding: 70px 0px 70px 70px;
    /* background-color: blueviolet; */
    /* text-transform: capitalize; */
    text-align: center;
}

.data h1 span{
    font-style: italic;
    color: rgb(255, 201, 71);
    font-size: 40px;
    border-bottom: solid 5px;
    border-color: tomato;
}

.rotate{
    transform: rotate3d(2, -2, 0, 20deg) translateX(30px);
    overflow: hidden;
    height: 200px;
    margin: 0 0 0 20px;
}

.shadowTop{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 40px;
    width: 100%;
    background-image: linear-gradient(to bottom, #0f0f0f 1%, transparent 50%);
}

.shadowBottom{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-image: linear-gradient(to top, #0f0f0f 1%, transparent 50%);
}

.cardScroll{
    display: flex;
    position: absolute;
    height: 200%;
    top: 0;
    flex-direction: column;
    animation: scroll 10s linear infinite;
}

/* .cardScroll div{
    animation: scroll 1s linear infinite;
} */
.quotes{
    position: relative;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 10px;
}

.quotes p{
    color: rgb(10, 25, 49);
    padding: 20px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes scroll {

    100%{
        top: -186%;
    }
}

.elon{
    width: 100%;
    max-width: 100%;
    height: auto;
    float: right;
}

.img{
    width: 50%;
    margin: 0 25%;
    height: auto;
}


.flex{
   display: flex;
   flex-direction: column;
   /* background-color: blanchedalmond; */
   margin-top: 50px;
}


.carData{
    padding: 10px 30px;
    background-color: rgb(10, 25, 49);
    border-radius: 4px;
    text-align: center;
    margin: 0 25%;
}

.carData h3{
    color: rgb(255, 201, 71);
    margin: 10px 0;
}

.carData p{
    color: white;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  .modal-content {
    margin: auto;
    display: block;
    max-width: 60%;
    height: auto;
  }

  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
  }

  #caranim{
      animation: car 5s linear;
  }

  #rocketanim{
      animation: rocket 5s linear;
  }

  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  @keyframes car {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-150%);
    }
  }

  @keyframes rocket {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-150%);
    }
  }


/* Tab View */

@media only screen and (max-width: 1024px) {
    #logo a{
        padding-left: 20px;
    }

    nav ul{
        margin-right: 0;
    }

    .container{
        flex-direction: column;
        height: auto;
    }

    .data h1{
        text-align: center;
        padding: 5%;
    }

    .quotes{
        /* margin: 30px 50px; */
        text-align: center;
    }

    .quotes p{
        padding: 20px 10px;
    }

    .elon{
        float: none;
    }

    .rotate{
        transform: rotate3d(2, -2, 0, 20deg);
    }

}








/* Mobile View */

@media only screen and (max-width: 600px) {

    nav ul{
        position: fixed;
        left: -100%;
        display: block;
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: hidden;
        background-color: rgb(10, 25, 49);
        transition: all .5s;
    }

    nav ul li{
        font-size: 25px;
        line-height: 100px;
    }

    nav ul.show{
        left: 0;
    }

    #icon {
        display: inline-block;
        float: right;
        font-size: 24px;
        margin-right: 20px;
    }

    .rotate{
        margin: 0 5px;
    }

}