*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Gotham',sans-serif;
    color: black;
    scroll-behavior: smooth;
}

nav{
    background-color: rgb(10, 25, 49);
    line-height: 60px;
    width: 100%;
    overflow: hidden;
    z-index: 2;
    position: sticky;
    top: 0;
}

#logo a{
    text-transform: uppercase;
    padding-left: 60px;
    font-size: 22px;
    font-weight: bolder;
    color: rgb(255, 201, 71);
    cursor: pointer;
}

nav ul{
    display: flex;
    float: right;
    margin-right: 100px;
}

nav ul li{
    padding: 0 5px;
    margin-right: 10px;
}

nav ul li a{
    font-weight: 500;
    padding-bottom: 5px;
    color: white;
}

nav ul li a.active{
    color: rgb(255, 201, 71);
    border-bottom: 5px solid;
    border-color: rgb(255, 201, 71);
}

nav ul li a:hover{
    color: rgb(255, 201, 71);
}

#icon{
    display: none;
}

#icon i{
    color: white;
}

.container{
    /* position: relative; */
    display: flex;
    background-color: rgb(10, 25, 49);
    width: 100%;
    padding-top: 60px;
    overflow: hidden;
}


.data h1{
    padding: 70px 0px 70px 70px;
    /* background-color: blueviolet; */
    /* text-transform: capitalize; */
    text-align: center;
    color: white;
}

.data h1 span{
    font-style: italic;
    color: rgb(255, 201, 71);
    font-size: 40px;
    border-bottom: solid 5px;
    border-color: tomato;
}

.rotate{
    transform: rotate3d(2, -2, 0, 20deg) translateX(30px);
    overflow: hidden;
    height: 200px;
    margin: 0 0 0 20px;
}

.shadowTop{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 40px;
    width: 100%;
    background-image: linear-gradient(to bottom, #0f0f0f 1%, transparent 50%);
}

.shadowBottom{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-image: linear-gradient(to top, #0f0f0f 1%, transparent 50%);
}

.cardScroll{
    display: flex;
    position: absolute;
    height: 200%;
    top: 0;
    flex-direction: column;
    animation: scroll 10s linear infinite;
}

/* .cardScroll div{
    animation: scroll 1s linear infinite;
} */
.quotes{
    position: relative;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 10px;
}

.quotes p{
    color: rgb(10, 25, 49);
    padding: 20px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes scroll {

    100%{
        top: -186%;
    }
}

.elon{
    width: 100%;
    max-width: 100%;
    height: auto;
    float: right;
}

.companyDiv{
    display: flex;
    padding: 100px;
    /* background: url(images/e2.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: black;
}


.companyData{
    width: 500px;
    padding: 30px;
    border: 2px solid rgb(184, 184, 184);
    margin-right: 20px;
    transform: scale(0.9);
    transition: all 0.2s ease-out;
}

.companyData:hover {
    transition: all 0.2s ease-in;
    transform: scale(1);
  }

.companyDiv:nth-child(even){
    flex-direction: row-reverse;
}

.companyData h2{
    padding-bottom: 10px;
    text-align: center;
    color: white;
}

.companyData p{
    color:whitesmoke;
}

.cardsCont{
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.cards{
    text-align: center;
    margin: 10px 0;
    padding: 20px 0;
    border-radius: 8px;
    filter: blur(3px);
}

.cards:hover{
    filter: blur(0px);
}
.cards h3{
    color: white;
}

#teslaDiv .companyData{
    background:     linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),url('images/car.jfif');
    background-repeat: no-repeat;
    background-size: cover;
}


#spacexDiv .companyData{
    background:     linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),url('images/ee.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


#boringDiv .companyData{
    background:     linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),url('images/b1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#neuralinkDiv .companyData{
    background:     linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),url('images/n1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#footer{
    background-color: rgb(10, 25, 49);
    display: flex;
    padding: 50px;
    text-align: center;
}

.about,.links{
    width: 50%;
}

#footer h3{
    color: rgb(255, 201, 71);
    text-decoration: underline;
    margin-bottom: 10px;
}

#footer a, #footer p{
    color: white;
}

#footer li{
    margin-bottom: 10px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  .modal-content {
    margin: auto;
    display: block;
    max-width: 60%;
    height: auto;
  }

  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
  }

  #caranim{
      animation: car 5s linear;
  }

  #rocketanim{
      animation: rocket 5s linear;
  }

  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  @keyframes car {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-150%);
    }
  }

  @keyframes rocket {
    0%{
        transform: translateY(50%);
    }
    100%{
        transform: translateY(-200%);
    }
  }

  @keyframes boring {
      0%{
          transform: scale(10);
      }
      100%{
          transform: scale(1);
      }
  }

  @keyframes neuralink {
      0%{
          transform: rotateY(0deg);
      }
      100%{
          transform: rotateY(360deg);
      }
  }







/* Tab View */

@media only screen and (max-width: 1024px) {
    #logo a{
        padding-left: 20px;
    }

    nav ul{
        margin-right: 0;
    }

    .container{
        flex-direction: column;
        height: auto;
    }

    .data h1{
        text-align: center;
        padding: 5%;
    }

    .quotes{
        /* margin: 30px 50px; */
        text-align: center;
    }

    .quotes p{
        padding: 20px 10px;
    }

    .elon{
        float: none;
    }

    .rotate{
        transform: rotate3d(2, -2, 0, 20deg);
    }
    .companyDiv{
        overflow: hidden;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }
    .companyDiv:nth-child(even){
        flex-direction: column;
    }
    .companyData{
        margin: 0;
        width: 100%;
        transform: scale(0.9);
    }
    .companyData:hover{
        transform: scale(1);
    }
    .cardsCont{
        width: 70%;
    }

}








/* Mobile View */

@media only screen and (max-width: 600px) {

    nav ul{
        position: fixed;
        left: -100%;
        display: block;
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: hidden;
        background-color: rgb(10, 25, 49);
        transition: all .5s;
    }

    nav ul li{
        font-size: 25px;
        line-height: 100px;
    }

    nav ul.show{
        left: 0;
    }

    #icon {
        display: inline-block;
        float: right;
        font-size: 24px;
        margin-right: 20px;
    }

    .rotate{
        margin: 0 5px;
    }

    .companyDiv{
        padding: 40px 0;
    }
    .companyData{
        transform: scale(0.7);
    }

    .companyData:hover{
        transform: scale(0.8);
    }

    #footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:20px;
    }

    .about,.links{
        width: 100%;
        padding:0px;
        margin-bottom: 30px;
    }
}